
/*Importando fonte do google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');




/*Fixando o rodapé no fim da página*/
html, body{
margin: 0;
padding: 0;
height: 100%;
bottom: 0;
}
body{
    background-color: rgb(107, 105, 105);
}
.Tudo{
    min-height: 100%;
}
/*Definindo estilo ao rodapé*/
footer{
    background-color: rgb(36, 35, 35);
    margin-top: 20px;
    box-shadow: 0px -5px rgb(1, 92, 42);
    padding: 1px;
}
header{
    position: sticky;
    top: 0px;
    /*Os dois comandos a cima deixa o header fixo no topo*/
    background-color: rgb(53, 52, 52);
    box-shadow: 0 5px rgb(4, 151, 70);
    margin-top: -1px;
   
}
.Menu{
    display: inline-flex;
}

.Menu ul{
    margin-left: 200px;
    list-style: none;
}
.Menu li{
    display: inline-flex;
}

.Menu a{
    text-decoration: none;
    color: rgb(173, 179, 176);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin-top: -30px;
    margin-right: 20px;
}
.Menu a.active{
    color: rgb(25, 158, 102);
}
.Menu a:hover{
    color: rgb(91, 92, 91);
}

.head{
    margin-top: 25px;
    margin-left: 15px;
    width: 230px;
    height: 70px;
}

section{
    background-color: white;
    margin-top: 20px;
    
}

#Text{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:rgb(192, 184, 184);
}

.disco{
    width: 30px;
    height: 30px;
    position: absolute;
   
}

.disc{
    display: inline-flex;
    position: relative;
    font-size: 17px;
    margin-left: 35px;
    margin-top: 8px;
}

.título{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: rgb(73, 72, 72);
    margin-left: 50px;
    margin-top: 100px;
    border-bottom: 5px solid darkslategray;
    width: max-content;
}

.sub{
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    color: rgb(73, 72, 72);
    margin-left: 50px;
    margin-top: 50px;
}


.título2{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: rgb(73, 72, 72);
    margin-left: 50px;
    border-bottom: 5px solid darkslategray;
    width: max-content;
}


.Text2{
    text-align: left;
    font-family: 'Oxygen', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}





p.coronaF{
    visibility: hidden;
   position: absolute;
   width: 300px;
   text-align: left;
   background-color: grey;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   margin-top: 295px;
   margin-left: -340px;
}
p.pangolimF{
    visibility: hidden;
   position: absolute;
   width: 300px;
   text-align: left;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   background-color: rgb(153, 152, 152);
   margin-top: 295px;
   margin-left: 340px;
}

.corona{
    width: 300px;
    margin-top: 90px;
}
.pangolim{
    width: 300px;
    height: 225px;
    margin-left: 40px;
    margin-top: 90px;
}

.esquema{
    width: 500px;
    margin-top: 90px;
    border: solid 3px black;
    margin-bottom: 50px;
}

.Image{
    display: flex;
    justify-content: center;
    align-items: center;
}


.pangolim:hover{
    cursor: pointer;
}

.pangolim:hover ~ p.pangolimF{
    visibility: visible;
}

.corona:hover{
    cursor: pointer;
}

.corona:hover ~ p.coronaF{
    visibility: visible;
    
}



@media(max-width: 950px){
    .head{
        width: 1px;
        height: 1px;
        visibility: hidden;
    }
    .Menu{
        display: inline-flex;
    }
    
    .Menu ul{
        margin-left: -40px;
      
        list-style: none;
    }
    .Menu a{
        font-size: 33px;
    }




}

@media(max-width: 650px){
    .corona{
        width: 200px;
        margin-top: 90px;
    }
    .pangolim{
        width: 200px;
        margin-left: 20px;
        margin-top: 90px;
        height: 150px;
    }

    
p.coronaF{

   width: 200px;
   font-size: 13px;
   margin-top: 207px;
   margin-left: -220px;
}
p.pangolimF{

   width: 200px;
   font-size: 13px;
   margin-top: 220px;
   margin-left: 220px;
}
 

}

